  .form{
    padding: 30px;
    box-sizing: border-box;
    background-color:rgb(52, 122, 227);
    border: 2px solid #000;
    width: 300px;
    height: 300px;
  }

  .error{
    color:red;
    margin-top: 60px;

    
  }

  button {
    width: 150px;
    height: 40px;
    padding: 0;
    margin: 5px;
    box-sizing: border-box;
    margin-top: 30px;

  }

  .respuesta{
    margin: 50px;
    width: 300px;
    height: 200px;
    border: 2px solid #000;
    background-color: rgb(93, 190, 229);
    padding: inherit;
    font-size: 18px;
    box-sizing:border-box;
    
  }